{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="cover-user bg-white">
    <div class="container-fluid px-0">
        <div class="row g-0 position-relative">
            <div class="col-lg-4 cover-my-30 order-2">
                <div class="cover-user-img d-flex align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="card login-page border-0" style="z-index: 1">
                                <div class="card-body p-0">
                                    <h3 style="color: #fff; font-size: 2px !important;">Driver hire online</h3>
                                    <h4 class="card-title text-center"> Reset Your Password</h4>
                                    <p>A password reset link has been sent to your email address. Please follow the instructions in the email to reset your password.</p>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!-- end about detail -->
            </div> <!-- end col -->    

            <div class="col-lg-8 offset-lg-4 padding-less img order-1" style="background-image:url({% static 'images\login.png' %})" data-jarallax="{&quot;speed&quot;: 0.5}"></div><!-- end col -->    
        </div><!--end row-->
    </div><!--end container fluid-->
</section>

{% endblock content %}
