{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="cover-user bg-white">
    <div class="container-fluid px-0">
        <div class="row g-0 position-relative">
            <div class="col-lg-4 cover-my-30 order-2">
                <div class="cover-user-img d-flex align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="card login-page border-0" style="z-index: 1">
                                <div class="card-body p-0">
                                    <h3 style="color: #fff; font-size: 2px !important;">Driver hire online</h3>
                                    <h4 class="card-title text-center">  Password</h4>  
                                  
                                  <form method="POST"  enctype="multipart/form-data" class="login-form mt-4">
                                            {% csrf_token %}
                                        <div class="row" id="mobile_data">
                                            <div id="regerror"></div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Email <span class="text-danger">*</span></label>
                                                    <div class="form-icon position-relative">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 64 64" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user fea icon-sm icons">
                                                            <path fill="#222" d="M53.42 53.32H10.58a8.51 8.51 0 0 1-8.5-8.5V19.18a8.51 8.51 0 0 1 8.5-8.5h42.84a8.51 8.51 0 0 1 8.5 8.5v25.64a8.51 8.51 0 0 1-8.5 8.5ZM10.58 13.68a5.5 5.5 0 0 0-5.5 5.5v25.64a5.5 5.5 0 0 0 5.5 5.5h42.84a5.5 5.5 0 0 0 5.5-5.5V19.18a5.5 5.5 0 0 0-5.5-5.5Z"/><path fill="#222" d="M32 38.08a8.51 8.51 0 0 1-5.13-1.71L3.52 18.71a1.5 1.5 0 1 1 1.81-2.39L28.68 34a5.55 5.55 0 0 0 6.64 0l23.35-17.68a1.5 1.5 0 1 1 1.81 2.39L37.13 36.37A8.51 8.51 0 0 1 32 38.08Z"/><path fill="#222" d="M4.17 49.14a1.5 1.5 0 0 1-1-2.62l18.4-16.41a1.5 1.5 0 0 1 2 2.24L5.17 48.76a1.46 1.46 0 0 1-1 .38zm55.66 0a1.46 1.46 0 0 1-1-.38l-18.4-16.41a1.5 1.5 0 1 1 2-2.24l18.39 16.41a1.5 1.5 0 0 1-1 2.62z"/>
                                                            <circle cx="12" cy="7" r="5">
                                                            </circle></svg>
                                                        <input type="text" id="username" class="form-control ps-5" placeholder="Email" name="email" required>
                                                    </div>
                                                </div>
                                            </div><!--end col--> 

                                            <div class="col-lg-12 mb-0">
                                                <div class="d-grid">
                                                    <button type="Submit" class="btn btn-primary" id="business_login">Forget</button>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-12 mb-0" id="error_business" style="margin-top: 10px;">
                                            </div>
                                        </div>                                        
                                    </form>
                                    <div>
                                        <p class="mb-0">Don't have an account? <a href="#!" class="text-dark-50 fw-bold">Sign Up</a>
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!-- end about detail -->
            </div> <!-- end col -->    

            <div class="col-lg-8 offset-lg-4 padding-less img order-1" style="background-image:url({% static 'images\login.png' %})" data-jarallax="{&quot;speed&quot;: 0.5}"></div><!-- end col -->    
        </div><!--end row-->
    </div><!--end container fluid-->
</section>

{% endblock content %}
