
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Navbar End -->
    <div id="ajax_dashboard">
<!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url('static/images/busi.jpg') center center;">
           
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level title-heading">
                            <h6 class="text-dark title-dark" style="font-size: 30px !important;">Drivars is your one-stop source for experienced drivers for both personal and business use.</h6>
                            
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                       
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Aboutus</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row--> 
            </div> <!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->

        <section class="section" style="margin-bottom:50px">
            <div class="container">
                <div class="row align-items-center" id="counter">
                    <div class="col-md-6">
                        <img src="{% static 'images/course/Team-amico%20(1).webp' %}" class="img-fluid" alt="hire driver in india">
                    </div><!--end col-->

                    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="ms-lg-4">
                            <div class="d-flex mb-4">
                                <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" data-target="15">2</span>+</span>
                                <span class="h6 align-self-end ms-2">Years <br> Experience</span>
                            </div>
                            <div class="section-title">
                                <h4 class="title mb-4">About Us</h4>
                                <p class="text-muted">Drivars started as a technology platform to solve <span class="text-primary fw-bold">driving issues</span> in travel and transportation industry. We provide driver services for personal and business uses as per their needs. We are growing daily with our team quality services and serving now at 43 cities and 22 states. Its just a begining, our goal is to to deliver the world’s best end-to-end driver services platform and revolutionise the tour, transport and travel industry.  </p>
                                 
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

        </section><!--end section-->
        
      <!-- About Start -->
        <section class="section pt-0" style="margin-bottom:50px">
            <div class="container">
                <div class="row align-items-center">
                  

                    <div class="col-lg-7 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-lg-4">
                            <h4 class="title mb-4">Our Team <span class="text-primary">Our Family</span></h4>
                            <p class="text-muted">We strongly <span class="text-primary fw-bold">committed</span> towards better life of our team with felixible timing, on time payments and continuesly increment on their earnings along with other benifits such as insurance and provident funds. We believe in...</p>
                            <ul class="list-unstyled mb-0 text-muted">
                                <li><i class="uil uil-arrow-circle-right text-primary h5 mb-0 align-middle me-2"></i>Happy Team, Quality Services</li>
                                <li><i class="uil uil-arrow-circle-right text-primary h5 mb-0 align-middle me-2"></i>Personal and Professional Training</li>
                                
                            </ul>
                            <a href="{% url 'drivewithus' %}" class="btn btn-outline-primary mt-3">Join Us</a>
                        </div>
                    </div><!--end col-->
					  <div class="col-lg-5 col-md-6 col-12">
                        <img src="{% static 'images/course/Good%20team-rafiki.webp' %}" class="img-fluid shadow rounded" alt="hire driver">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--enc container-->
        </section><!--end section-->
        <!-- About End -->
      </div>

 
      {% endblock content %} 