{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="ajax_dashboard">
    <style type="text/css">
        #populer-city {
            padding: 20px 0px;
            border: 1px solid #eee;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
    <section class="section bg-light">
        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">

                        <h4 class="title mb-4">Please Select <span class="text-primary">Your City</span></h4>
                        <p class="text-muted para-desc mx-auto mb-0">Book Driver Near By Your Location</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <div class="form-icon position-relative">
                            <i data-feather="search" class="fea icon-sm icons"></i>
                            <input type="text" class="form-control ps-5" placeholder="Search City"
                                name="search_city_front" id="search_city_front">
                        </div>
                    </div>
                </div><!--end col-->
                <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <div class="form-icon position-relative">
                          <form id="filter-form">
                            <div class="form-group">
                              <label for="state-select">State</label>
                              <select class="form-control" id="state-select">
                                <option value="">Select State</option>
                                {% for state in states %}
                                <option value="{{ state.id }}">{{ state.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="district-select">District</label>
                              <select class="form-control" id="district-select">
                                <option value="">Select District</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="subdistrict-select">Subdistrict</label>
                              <select class="form-control" id="subdistrict-select">
                                <option value="">Select Subdistrict</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="driver_type-select">Driver Type</label>
                              <select class="form-control" id="driver_type-select">
                                <option value="">Select Driver Type</option>
                              </select>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!--end col-->
            </div>

            <div class="row" id="counter">
                <h5>Popular Cities</h5>
                <div class="row" id="driver-cards">
                </div>



                 {% comment %}


                <div class="col-md-2 tag_p col-6" cityname="mumbai">
                    <a href="{% url 'driverinmumbai' %}" cityname="mumbai" id="drive_city">
                        <div class="counter-box text-center" id="populer-city">
                            <img src="{% static 'v2/admin/images/city/1621251025Mumbai.png' %}" class="avatar avatar-small"
                                alt="driver in Mumbai">
                            <h6 class="counter-head text-muted">Mumbai</h6>
                        </div><!--end counter box-->
                    </a>
                </div>


                <div class="col-md-2 tag_p col-6" cityname="pune">
                    <a href="{% url 'driverinpune' %}" cityname="pune" id="drive_city">
                        <div class="counter-box text-center" id="populer-city">
                            <img src="{% static 'v2/admin/images/city/1621251043Pune.png' %}" class="avatar avatar-small"
                                alt="driver in Pune">
                            <h6 class="counter-head text-muted">Pune</h6>
                        </div><!--end counter box-->
                    </a>
                </div>




            </div><!--end row--> {% endcomment %}
        </div><!--end container-->

        {% comment %} <div class="container  mt-60">
            <div class="row">
                <h5 style="margin-top: 20px;">Other Cities</h5>
                <div class="p-4">
                    <a href="{% url 'driverinbhopal' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="bhopal"
                        id="drive_city">Bhopal</a>
                    <a href="{% url 'driverindehradun' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="dehradun" id="drive_city">Dehradun</a>
                    <a href="{% url 'driveringoa' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="goa"
                        id="drive_city">Goa</a>
                    <a href="{% url 'driveringurugram' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="gurugram" id="drive_city">Gurugram</a>
                    <a href="{% url 'driveringuwahati' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="guwahati" id="drive_city">Guwahati</a>
                    <a href="{% url 'driverinharidwar' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="haridwar" id="drive_city">Haridwar</a>
                    <a href="{% url 'driverinindore' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="indore"
                        id="drive_city">Indore</a>
                    <a href="{% url 'driverinkanpur' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="kanpur"
                        id="drive_city">Kanpur</a>
                    <a href="{% url 'driverinmysuru' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="mysuru"
                        id="drive_city">Mysuru</a>
                    <a href="{% url 'driverinnagpur' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="nagpur"
                        id="drive_city">Nagpur</a>
                    <a href="{% url 'driverinnashik' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="nashik"
                        id="drive_city">Nashik</a>
                    <a href="{% url 'driverinnoida' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="noida"
                        id="drive_city">Noida</a>
                    <a href="{% url 'driverinpatna' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="patna"
                        id="drive_city">Patna</a>
                    <a href="{% url 'driverinranchi' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="ranchi"
                        id="drive_city">Ranchi</a>
                    <a href="{% url 'driverinshimla' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="shimla"
                        id="drive_city">Shimla</a>
                    <a href="{% url 'driverinsiliguri' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="siliguri" id="drive_city">Siliguri</a>
                    <a href="{% url 'driverinsurat' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="surat"
                        id="drive_city">Surat</a>
                    <a href="{% url 'driverinudaipur' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p" cityname="udaipur"
                        id="drive_city">Udaipur</a>
                    <a href="{% url 'driverinvadodara' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="vadodara" id="drive_city">Vadodara</a>
                    <a href="{% url 'driverinvaranasi' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="varanasi" id="drive_city">Varanasi</a>
                    <a href="{% url 'driverinvisakhapatnam' %}" class="btn btn-pills btn-light mt-2 me-2 tag_p"
                        cityname="visakhapatnam" id="drive_city">Visakhapatnam</a>
                </div>
            </div>
        </div> {% endcomment %}
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // When the state dropdown is changed, update the district dropdown
        $('#state-select').change(function() {
            var state_id = $(this).val();
            console.log("state_id",state_id)
            if (state_id) {
                $.ajax({
                    url: '{% url "filter_drivers_state" %}',
                    data: {
                        'state_id': state_id,
                    },
                    dataType: 'json',
                    
                    success: function(data) {
                      console.log(data);
                  
                      // Populate the district dropdown with the districts in the selected state
                      var district_select = $('#district-select');
                      district_select.empty().append('<option value="">Select District</option>');
                  
                      $.each(data.districts, function(index, district) {
                          district_select.append('<option value="' + district.id + '">' + district.name + '</option>');
                      });
                  
                      
                      // Update the driver profile cards with the drivers in the selected subdistrict
                      var driver_cards = $('#driver-cards');
                      driver_cards.empty();
                      $.each(data.drivers, function(index, driver) {
                        var card = '<div class="col-4">';
                            card += '<div class="card">';
                            card += '<div class="card-body">';
                            card += '<h5 class="card-title">' + driver.fname + '</h5>';
                            card += '<p class="card-text">Age: ' + driver.age + '</p>';
                            card += '<p class="card-text">State: ' + driver.state + '</p>';
                            card += '<p class="card-text">District: ' + driver.district + '</p>';
                            card += '<p class="card-text">Subdistrict: ' + driver.subdistrict + '</p>';
                            card += '<p class="card-text">drivertype: ' + driver.driver_type + '</p>';

                            card += '<a href="/driver_details/' + driver.id + '" class="btn btn-success">View Details</a>';
                            {% comment %} card += '<button class="btn btn-success select-driver" data-driver-id="' + driver.id + '">Select</button>'; {% endcomment %}
                            card += '<button class="btn btn-primary select-driver" data-driver-id="'+ driver.id +'">Select Driver</button>';
 
                            card += '</div>';
                            card += '</div>';
                            card += '</div>';
 
                            driver_cards.append(card);
                                             });
                      var drivers = data.drivers;
                      console.log(drivers);
                  }
                  
                });
            } else {
                // If no state is selected, clear the district dropdown
                $('#district-select').empty().append('<option value="">Select District</option>');
                $('#subdistrict-select').empty().append('<option value="">Select Subdistrict</option>');
            }
        });
        // When the district dropdown is changed, update the subdistrict dropdown
        $('#district-select').change(function() {
          var district = $(this).val();
          var state_id = $('#state-select').val();
          console.log("1.state_id",state_id)
          console.log("1.district",district)
          if (district && state_id) {
              $.ajax({
                  url: '{% url "filter_drivers_district" %}',
                  data: {
                      'district': district,
                      'state_id': state_id,
                  },
                  dataType: 'json',
                  success: function(data) {
                      var drivers = data.drivers;
                      console.log(drivers);
                    console.log(data)

                      // Populate the subdistrict dropdown with the subdistricts in the selected district
                      var subdistrict_select = $('#subdistrict-select');
                      subdistrict_select.empty().append('<option value="">Select Subdistrict</option>'); 
                      $.each(data.subdistricts, function(index, subdistrict) {
                          subdistrict_select.append('<option value="' + subdistrict.id + '">' + subdistrict.name + '</option>');
                      });
                       // Update the driver profile cards with the drivers in the selected subdistrict
                       var driver_cards = $('#driver-cards');
                       driver_cards.empty();
                       $.each(data.drivers, function(index, driver) {
                        var card = '<div class="col-4">';
                            card += '<div class="card">';
                            card += '<div class="card-body">';
                            card += '<h5 class="card-title">' + driver.fname + '</h5>';
                            card += '<p class="card-text">Age: ' + driver.age + '</p>';
                            card += '<p class="card-text">State: ' + driver.state + '</p>';
                            card += '<p class="card-text">District: ' + driver.district + '</p>';
                            card += '<p class="card-text">Subdistrict: ' + driver.subdistrict + '</p>';
                            card += '<p class="card-text">drivertype: ' + driver.driver_type + '</p>';

                            card += '<a href="/driver_details/' + driver.id + '" class="btn btn-success">View Details</a>';
                            {% comment %} card += '<button class="btn btn-success select-driver" data-driver-id="' + driver.id + '">Select</button>'; {% endcomment %}
                            card += '<button class="btn btn-primary select-driver" data-driver-id="'+ driver.id +'">Select Driver</button>';
 
                            card += '</div>';
                            card += '</div>';
                            card += '</div>';

                           driver_cards.append(card);
                       });
                  }
              });
          } else {
              // If no district is selected, clear the subdistrict dropdown
              $('#subdistrict-select').empty().append('<option value="">Select Subdistrict</option>');
          }
      });
                    // When the subdistrict dropdown is changed, update the driver profile cards
                    $('#subdistrict-select').change(function() {
                      var subdistrict = $(this).val();
                      var district = $('#district-select').val();
                      var state_id = $('#state-select').val();
                      if (subdistrict && district && state_id) {
                          $.ajax({
                              url: '{% url "filter_drivers_subdistrict" %}',
                              data: {
                                  'subdistrict': subdistrict,
                                  'district': district,
                                  'state_id': state_id,
                              },
                              dataType: 'json',
                              success: function(data) {
                                  console.log(data)
                       
                       // Populate the subdistrict dropdown with the subdistricts in the selected district
                      var driver_type_select = $('#driver_type-select');
                      driver_type_select.empty().append('<option value="">Select Driver Type</option>'); 
                      $.each(data.driverTypes, function(index, driverType) {
                          driver_type_select.append('<option value="' + driverType.id + '">' + driverType.name + '</option>');
                      });
                       
                      var driver_cards = $('#driver-cards');
                       driver_cards.empty();
                       $.each(data.drivers, function(index, driver) {
                        var card = '<div class="col-4">';
                            card += '<div class="card">';
                            card += '<div class="card-body">';
                            card += '<h5 class="card-title">' + driver.fname + '</h5>';
                            card += '<p class="card-text">Age: ' + driver.age + '</p>';
                            card += '<p class="card-text">State: ' + driver.state + '</p>';
                            card += '<p class="card-text">District: ' + driver.district + '</p>';
                            card += '<p class="card-text">drivertype: ' + driver.driver_type + '</p>';

                            card += '<p class="card-text">Subdistrict: ' + driver.subdistrict + '</p>';
                            card += '<a href="/driver_details/' + driver.id + '" class="btn btn-success">View Details</a>';
                            {% comment %} card += '<button class="btn btn-success select-driver" data-driver-id="' + driver.id + '">Select</button>'; {% endcomment %}
                            card += '<button class="btn btn-primary select-driver" data-driver-id="'+ driver.id +'">Select Driver</button>';
 
                            card += '</div>';
                            card += '</div>';
                            card += '</div>';

                           driver_cards.append(card);
                       });
                
                              }
                          });
                      } else {
                          // If no subdistrict is selected, clear the driver profile cards
                          $('#driver-cards').empty();
                      }
                  });  
     
                    $('#driver_type-select').change(function() {
                      var driver_type = $(this).val();
                      var subdistrict = $('#subdistrict-select').val();
                      var district = $('#district-select').val();
                      var state_id = $('#state-select').val();
                      if (subdistrict && district && state_id&&driver_type) {
                          $.ajax({
                              url: '{% url "filter_drivers_driver_type" %}',
                              data: {
                                  'driver_type':driver_type,
                                  'subdistrict': subdistrict,
                                  'district': district,
                                  'state_id': state_id,
                              },
                              dataType: 'json',
                              success: function(data) {
                                  console.log(data)
                       
                      var driver_cards = $('#driver-cards');
                       driver_cards.empty();
                       $.each(data.drivers, function(index, driver) {
                        var card = '<div class="col-4">';
                            card += '<div class="card">';
                            card += '<div class="card-body">';
                            card += '<h5 class="card-title">' + driver.fname + '</h5>';
                            card += '<p class="card-text">Age: ' + driver.age + '</p>';
                            card += '<p class="card-text">State: ' + driver.state + '</p>';
                            card += '<p class="card-text">District: ' + driver.district + '</p>';
                            card += '<p class="card-text">Subdistrict: ' + driver.subdistrict + '</p>';
                            card += '<p class="card-text">drivertype: ' + driver.driver_type + '</p>';

                            card += '<a href="/driver_details/' + driver.id + '" class="btn btn-success">View Details</a>';
                            {% comment %} card += '<button class="btn btn-success select-driver" data-driver-id="' + driver.id + '">Select</button>'; {% endcomment %}
                            card += '<button class="btn btn-primary select-driver" data-driver-id="'+ driver.id +'">Select Driver</button>';
 
                            card += '</div>';
                            card += '</div>';
                            card += '</div>';
    

                           driver_cards.append(card);
                       });
                
                              }
                          });
                      } else {
                          // If no subdistrict is selected, clear the driver profile cards
                          $('#driver-cards').empty();
                      }
                  });  
     
      

        $(document).on('click', '.select-plan', function() {
          var driver_id = $(this).data('driver-id');
          console.log(driver_id);
          window.location.href = '/select_plan/' + driver_id + '/';
      });
        $(document).on('click', '.select-driver', function() {
          var driver_id = $(this).data('driver-id');
          console.log(driver_id);
          window.location.href = '/booking_page/' + driver_id + '/';
      });
    });
   
    
   
 // Event listener for selecting a driver
  {% comment %} $(document).on('click', '.select-driver', function() {
      var driver_id = $(this).data('driver-id');
      $.ajax({
          url: '{% url "create_booking" %}',
          data: {
              'driver_id': driver_id,
          },
          dataType: 'json',
          success: function(data) {
              alert('Booking created successfully!');
          }
      });
  }); {% endcomment %}
</script>
{% endblock content %} 

