
<!-- Footer Start -->
{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">
                    <img src="{% static 'logo/Drivars.png' %}" height="55" alt="logo drivars"   style="background-color: hsl(0%,0%,16%);">
                </a>
                <!--  <p class="mt-4">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>-->
                <ul class="list-unstyled social-icon social mb-0 mt-4">
                    <li class="list-inline-item"><a href="https://www.facebook.com/mydrivars" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/mydrivars/" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/mydrivars" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/mydrivars/?viewAsMember=true" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                </ul><!--end icon-->
                <div class="text-sm-start">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Drivars.</p>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">Company</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="{% url 'about' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About us</a></li>
                    <li><a href="{% url 'services' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Services</a></li>
                    <li><a href="{% url 'howitworks' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> How it Works</a></li>
                    <li><a href="{% url 'city' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i>  Driver for Business</a></li>
            <li><a href="{% url 'contact' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contact</a></li>
                    
                </ul>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">Usefull Links</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="{% url 'terms' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms & Condition</a></li>
                    <li><a href="{% url 'privacy' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                    <li><a href="{% url 'help' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Help </a></li>
                    <li><a href="{% url 'blog' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Blog</a></li>
                    <li><a href="{% url 'refund' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Refund Policy</a></li>

                
                </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">Team in Services</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="captain.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Hire Captain for Trip</a></li>
                    <li><a href="driver.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Hire Driver for Truck</a></li>
                    <li><a href="valet.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Hire Valet for Parking</a></li>
                    <li><a href="chauffeur.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Hire Chauffeur for Car </a>                                </li> 
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>
<!--Footer End-->
<div id="map" style="display:none;">
</div>
<section class="section bg-light" >
    <div class="container"  >
        <div class="row align-items-center">
            <div class="col-md-12 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h2 class="title mb-4">Hire Driver On Demand</h2>
                    <p class="text-muted">We are the india's largest driver network company working in 43 cities in india to drive vehicles. Drivars is the most preferred brand to hire driver for car, van, school bus and truck. Drivars driver rental options are getting extremely popular in India. Our team is professional and experienced to drive vehicles.</p>
                    <h4 class="title mb-4">Driver Service in India</h4>
                    <p class="text-muted"><b>Drivars offering driver services:</b><br>Driver for outstation, Driver for in city, Driver for one-way ride, Driver for round trip, Driver for car,Driver for school bus, Driver for cabs, Driver for Van, Driver for Trucks, Delivery Service </p>
                    
                
                    <h1 class="title mb-4">Online Driver in India</h1>
                    <p class="text-muted"><b>Drivars is present in 43 locations in India:</b><br>
                    <a href="driverinbengaluru.html" class="text-muted">Hire driver in Bangalore,</a>
                    <a href="driverinpune.html" class="text-muted">Hire driver in Pune,</a>
                    <a href="driverinmysuru.html" class="text-muted">Hire driver in Mysuru,</a>
                    <a href="driveringoa.html" class="text-muted">Hire driver in Goa,</a>
                    <a href="driverinhyderabad.html" class="text-muted">Hire driver in Hyderabad,</a>
                    <a href="driverinbhopal.html" class="text-muted">Hire driver in Bhopal,</a>
                    <a href="driverinnagpur.html" class="text-muted">Hire driver in Nagpur,</a>
                    <a href="driverinsiliguri.html" class="text-muted">Hire driver in Siliguri,</a>
                    <a href="driverindelhi.html" class="text-muted">Hire driver in Delhi,</a>
                    <a href="driverinamritsar.html" class="text-muted">Hire driver in Amritsar,</a>
                    <a href="driverinchandigarh.html" class="text-muted">Hire driver in Chandigarh,</a>
                    <a href="driverinchennai.html" class="text-muted">Hire driver in Chennai,</a>
                    <a href="driverincoimbatore.html" class="text-muted">Hire driver in Coimbatore,</a>
                    <a href="driverinmadurai.html" class="text-muted">Hire driver in Madurai,</a>

                    <a href="driverinjaipur.html" class="text-muted">Hire driver in Jaipur,</a>
                    <a href="driverinahmedabad.html" class="text-muted">Hire driver in Ahmedabad,</a>
                    <a href="driverinsurat.html" class="text-muted">Hire driver in Surat,</a>
                    <a href="driverinrajkot.html" class="text-muted">Hire driver in Rajkot,</a>
                    <a href="driverinvadodara.html" class="text-muted">Hire driver in Vadodara,</a>
                    <a href="driverinindore.html" class="text-muted">Hire driver in Indore,</a>
                    <a href="driverinudaipur.html" class="text-muted">Hire driver in Udaipur,</a>
                    <a href="driverinnoida.html" class="text-muted">Hire driver in Noida,</a>
                    <a href="driverinlucknow.html" class="text-muted">Hire driver in Lucknow,</a>
                    <a href="driverinkanpur.html" class="text-muted">Hire driver in Kanpur,</a>
                    <a href="driverinagra.html" class="text-muted">Hire driver in Agra,</a>
                    <a href="driveringurugram.html" class="text-muted">Hire driver in Gurugram,</a>
                    <a href="driverinludhiana.html" class="text-muted">Hire driver in Ludhiana,</a>
                    <a href="driverinranchi.html" class="text-muted">Hire driver in Ranchi,</a>
                    <a href="driverinpatna.html" class="text-muted">Hire driver in Patna,</a>
                    <a href="driverinkolkata.html" class="text-muted">Hire driver in Kolkata,</a>
                    <a href="driverinshimla.html" class="text-muted">Hire driver in Shimla,</a>
                    <a href="driverindehradun.html" class="text-muted">Hire driver in Dehradun,</a>
                    <a href="driverinvisakhapatnam.html" class="text-muted">Hire driver in Visakhapatnam,</a>
                    <a href="driverinraipur.html" class="text-muted">Hire driver in Raipur,</a>
                    <a href="driverinhyderabad.html" class="text-muted">Hire driver in Hyderabad,</a>
                    <a href="driverinmumbai.html" class="text-muted">Hire driver in Mumbai,</a>
                    <a href="driverinnashik.html" class="text-muted">Hire driver in Nashik,</a>
                    <a href="driverinkochi.html" class="text-muted">Hire driver in Kochi,</a>
                    <a href="driveringuwahati.html" class="text-muted">Hire driver in Guwahati, </a>
                    <a href="driverinimphal.html" class="text-muted">Hire driver in Imphal,</a>
                    <a href="driverinayodhya.html" class="text-muted">Hire driver in Ayodhya,</a> 
                    <a href="driverinharidwar.html" class="text-muted">Hire driver in Haridwar,</a>
                    <a href="driverinvaranasi.html" class="text-muted">Hire driver in Varanasi</a><br>
                        <br>
                        <b>Drivars is the most affordable brand that provides driver for the private and commercial vehicles. </b></p>
                    <h4 class="title mb-4">STEPS FOR DRIVER BOOKING</h4>
                    <p class="text-muted"><b>Hire driver across the city hassle free with Drivars in the following steps:</b></p>
                    <p class="text-muted">Visit the website or download the Drivars App from the Play Store or the App Store.<br>Select ride type and enter the pick and drop locations.<br>Select vehicle and booking date and time. <br>Preview the details and check estimated fair.<br>Book driver and select payment options.<br>Get driver and enjoy your trip. 
                    </p><p class="text-muted">
                    <b>For outstation ride customer has to provide  food and accommodation for driver.</b></p>
                </div>
            </div><!--end col-->
            
        </div><!--end row-->
    </div><!--end container-->
    
</section>



<script src="{% static 'new/jquery-3.6.0.js' %}"></script>       
<!-- javascript -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- SLIDER -->
<script src="{% static 'js/tiny-slider.js' %}"></script>
<script src="{% static 'js/tiny-slider-init.js' %}"></script>
<!-- Icons -->
<script src="{% static 'js/feather.min.js' %}"></script>
<!-- Switcher -->
<script src="{% static 'js/switcher.js' %}"></script>
<!-- Main Js -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'new/firebase.js' %}"></script>


<script type="text/javascript" src="{% static 'new/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'new/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#example').dataTable( {
        "order": [],
    } );
    $('#example2').DataTable({
        "order": [],
    });
    $('#example3').DataTable({
        "order": [],
    });
} );
</script>
<script src="{% static 'new/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'new/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
function ratingStar(star){
star.click(function(){
var stars = $('.ratingW').find('li')
stars.removeClass('on');
var thisIndex = $(this).parents('li').index();
for(var i=0; i <= thisIndex; i++){
    stars.eq(i).addClass('on');
}
putScoreNow(thisIndex+1);
});
}

function putScoreNow(i){
$('.scoreNow').html(i);
}


$(function(){
if($('.ratingW').length > 0){
    ratingStar($('.ratingW li a'));
}
});
</script>
<script type="text/javascript" src="{% static 'js/jquery.basictable.js' %}"></script>
<script src="{% static 'custom_js/my0bd8.js' %}"></script>
<script src="{% static 'js/my0bd8.js' %}"></script>
<!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script> -->
<!--<script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>-->
<!--<script src="/js/soket.js?v=1675238031"></script>-->

<script type="text/javascript">
    $(document).on('click', '#get-mylocation', function() {    
mapboxgl.accessToken = 'pk.eyJ1IjoiZHJpdmFycy1jbG91ZHM0NCIsImEiOiJja3VyeG94aWYwaW80MndvMnVkNnU2NXNsIn0.CCUAWYSOfbZcHkq4bGFWIg';
navigator.geolocation.getCurrentPosition(successlocation,errorlocarion,
{
enableHighAccuracy:true
});
});

function successlocation(position)
{
$.get('https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/'+position.coords.longitude+','+position.coords.latitude+'.json?access_token='+mapboxgl.accessToken, 
function( data ) 
{
console.log(data);
var cityname22 = data.features[0].place_name;
//alert(cityname22);
$.ajax({
    type: 'POST',
    url: path + 'Master/LiveCity',
    data: {"city":cityname22},
    beforeSend: function () {

    },
    success: function (responce) {
        
        if(responce == '')
        {
            $('#city_not_avalble').modal('show');
        }
        else
        {
            window.location.href = path+"driverin"+responce;
        }
    }
});
});
}

function errorlocarion()
{

}
$(document).ready(function() {
$('.table').basictable();

$('#table-breakpoint').basictable({
    breakpoint: 768
});

$('#table-container-breakpoint').basictable({
    containerBreakpoint: 485
});

$('#table-swap-axis').basictable({
    swapAxis: true
});

$('#table-force-off').basictable({
    forceResponsive: false
});

$('#table-no-resize').basictable({
    noResize: true
});

$('#table-two-axis').basictable();

$('#table-max-height').basictable({
    tableWrap: true
});
});
</script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>  -->

<div class="modal fade" id="loginform" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow-lg border-0 overflow-hidden">
            <div class="modal-body p-0">
                <div class="container-fluid px-0">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-6 col-md-5">
                            <img src="{% static 'images/course/online/ab02.jpg' %}" class="img-fluid" alt="Driver hire in india">
                        </div><!--end col-->

                        <div class="col-lg-6 col-md-7">
                            <form class="login-form p-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Mobile Number <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                               <i data-feather="phone" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" placeholder="Mobile Number" name="phone_cp" id="phone_cp">
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                        <div id="recaptcha-container"></div>
                                    </div>

                                    <div class="col-lg-12" id="name_box" style="display:none">
                                        <div class="mb-3">
                                            <label class="form-label">Your Name <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                               <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input type="text" class="form-control ps-5" placeholder="Your Name" id="your_name">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12" id="otp_box" style="display: none;">
                                        <div class="mb-3">
                                            <label class="form-label">OTP (One Time Password) <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="number" class="form-control ps-5" placeholder="OTP" id="verificationCode">
                                            </div>
                                        </div>
                                    </div><!--end col-->                                           

                                    <div class="col-lg-12 mb-0" id="signin_btn_box">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-primary" id="Sign-in">Sign in</button>
                                        </div>
                                    </div><!--end col--> 

                                    <div class="col-lg-12 mb-0" id="final_signin_btn_box" style="display: none;">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-primary" id="Sign-in-final" onclick="codeverify()">Submit</button>
                                        </div>
                                    </div><!--end col-->   
                                   
                                </div><!--end row-->
                            </form>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="city_not_avalble" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content rounded shadow-lg border-0 overflow-hidden">
            <div class="modal-body p-0">
                <div class="container-fluid px-0">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-12" style="padding: 50px 30px;">
                            <center>
                            <div class="image position-relative d-inline-block" style="background: #ff04046b; border-radius: 50%; padding: 0px 10px;">
                                <i class="uil uil-shield-exclamation h1 text-danger"></i>
                            </div>
                            <h5 style="margin-top: 10px;">
                                Sorry, we are not serving in your city. Please select city manually. 
                            </h5>

                            <a href="city.html" style="width: 70%; margin-top: 20px !important;" class="btn btn-primary mt-2 me-2">SELECT MANUALLY</a>
                            </center>
                        </div><!--end col-->

                        
                    </div><!--end row-->
                </div><!--end container-->
            </div>
        </div>
    </div>
</div>

</body>

<!-- Mirrored from drivars.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 07:54:35 GMT -->
</html>
    